header {
      text-align: center;
      background: url('https://lh3.google.com/u/0/d/0Bz7yDuVhS9wxalNHSlNzTWdqU2c=w1917-h873-iv1');
      background-size: cover;
      color: black;
    }
    a {
      color: black;
      text-align: center;
    }
    h1 {
      font-size: 70px;
      text-align: center;
    }
    img {
      text-align:center;
    }
    ul {
      padding: 10px;
      background: (0,0,0,0.5);
      text-align: center;
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
      text-align: center;
    }
    article {
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
      text-align: center;
      }
      
      h2 {
            
text-align: center;                        
    }
    @media (max-width: 500px) {
      h1 {
        font-size: 36px;
        padding: 5px;
        text-align: center;
      }
      li {
        padding: 5px;
        display: block;
      }
       h2 {
             text-align: center;
    }
